@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

@font-face {
    font-family: Cursed Timer ULiL;
    src: url(CursedTimerUlil-Aznm.ttf);
  }

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #1B244A;
    color: white;
    padding: 0;
    text-align: center;
    padding-top: 10px;
}

.container {
    
    
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
   
    padding: 10px;
    
    overflow: auto;
}

button {
     background-color: #1B244A;
    color: #9AABD8;
    border:  1px solid #9AABD8; 
     font-family: 'Orbitron', sans-serif;
     margin-bottom: 20px;
     
}

.score {
    width: 30vw;
    height: 120px;
    max-height: 100px;
    
    padding: 0px;


color: #F94F6D;
font-family: 'Cursed Timer ULiL', sans-serif;
font-weight: bold;
    }
    
    p {
        font-size: 3rem;
        text-align: center;
        background-color: black;
        margin-bottom: 20px;
margin-top: 10px;

    }
    
    h3 {
        padding: 0;
        margin: 10px;
        font-size: 3.5rem;
    }